.pageBody {
  /* background-color: #f7e1d7; */
  height: 2600px;
}

.topDiv {
  background-color: #b0c4b1;
  color: white;
  font-size: xx-small;
  text-align: center;
  height: 25px;
}

.navbar {
  height: 90px;
  /* background-color: #dedbd2; */
}
.NavbarBrand {
  position: relative;
  left: 128px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.logo {
  position: relative;
}

.tabs {
  font-size: medium;
  color: #ffddd2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Carousel {
  height: 440px;
  width: auto;
  padding: px;
}

.carousel-inner {
  height: 440px;
  width: auto;
}

.carousel-item {
  height: 440px;
}

.colorDiv {
  background-color: #b0c4b1;

  height: 188px;

  width: autopx;
  position: relative;
  top: 18px;
}

.custom-shape-divider-bottom-1613956483 {
  position: relative;
  bottom: 100px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1613956483 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 121px;
}

.custom-shape-divider-bottom-1613956483 .shape-fill {
  fill: #4a5759;
}

.greenDiv {
  height: 1900px;
  width: auto;
  background-color: #4a5759;
  position: relative;
  top: -102px;
}

.signUp {
  height: 300px;
  width: 300px;
  background-color: #dedbd2;
  position: relative;
  top: 70px;
  left: 200px;
}

.login {
  height: 300px;
  width: 300px;
  background-color: #dedbd2;
  position: relative;
  top: 70px;
  left: 30px;
}

.auth-container {
  height: 600px;
  width: 800px;
}
.footer {
  background-color: #b0c4b1;
  position: relative;
  bottom: -600px;
  height: 400px;
}
