.topDiv {
  background-color: #b0c4b1;
  color: white;
  font-size: xx-small;
  text-align: center;
  height: 40px;
}

.topPinkDiv {
  background-color: #f7e1d7;
  height: 10px;
}

.custom-shape-divider-top-1614310303 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 160px;
  top: 11px;
}

.custom-shape-divider-top-1614310303 .shape-fill {
  fill: black;
}

.navbar {
  height: 160px;
}

.NavbarBrand {
  position: relative;
  font-family: "Satisfy", cursive;
}

.logo {
  position: relative;
  text-align: center !important;
}

.tabs {
  font-size: medium;
  color: #ffddd2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Carousel {
  height: 440px;
  width: auto;
  padding: 30px;
  bottom: 20px;
}

.carousel-inner {
  height: 440px;
  width: auto;
}

.carousel-item {
  height: 440px;
}

.container {
  justify-content: center;
}

.auth-container {
  height: 600px;
  width: 800px;
}

.custom-shape-divider-bottom-1614346458 {
  position: absolute;
}

.colorDiv {
  background-color: #b0c4b1;

  height: 188px;

  width: autopx;
  position: relative;
  top: 18px;
}

.custom-shape-divider-bottom-1613956483 {
  position: relative;
  bottom: 100px;

  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1614346458 svg {
  position: relative;
  display: block;
  width: auto;

  height: 153px;
}

.custom-shape-divider-bottom-1614346458 .shape-fill {
  fill: #b0c4b1;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.modalCss {
  width: 700px !important;
  margin: auto;
}

.signUp {
  position: relative;
  height: 380px;
  width: 320px;
  background-color: #e1e2e3;
  color: black;
  z-index: 120;
}

.login {
  position: relative;
  height: 380px;
  width: 320px;
  background-color: #e1e2e3;
  color: black;
  z-index: 120;
}

.modal-title {
  margin-left: auto;
}

.btn btn-primary {
  margin-right: auto;
}

.bottomPinkDiv {
  background-color: #f7e1d7;
  height: 50px;
}

#myShopHeader {
  font-family: "Satisfy", cursive;
  font-size: 70px;
  letter-spacing: 1px;
  font-style: italic;
}

#featuredProducts {
  font-family: "Satisfy", cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 0;
  position: relative;
}

.searchBar {
  position: relative;
  bottom: 200px;
}

.cardDeckCss {
  position: relative;
  bottom: 170px;
}

.blobsDiv {
  height: 100px;
}

.greenBlobs {
  height: 400px;
  width: 400px;
  rotate: 20%;
}

.submitBtn {
  margin-top: 50px;
}

.custom-shape-divider-bottom-1614655104 {
  position: relative;
  top: 290px;
  left: 0;
  width: auto;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1614655104 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 166px;
  transform: rotateY(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1614655104 .shape-fill {
  fill: #f7e1d7;
}

.signupDiv {
  background-color: #f7e1d7;
  height: 200px;
  position: relative;
  bottom: 30px;
}
/* .custom-shape-divider-top-1614696370 {
  position: relative;

  top: 20px;
  left: 0;
  width: 90%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1614696370 svg {
  position: relative;
  display: block;

  width: calc(100% + 1.3px);
  height: 89px;
  color: #edafb8 !important;
}

.custom-shape-divider-top-1614696370 .shape-fill {
  fill: #edafb8 !important;
} */
